input
    background-color: transparent
    border: 1px solid #2f2f2f
    border-radius: 10px
    outline: none
    padding: 14px
    width: 100%

    &:focus
        border: 1px solid #2c00ff

    &:hover
        border: 1px solid #2c00ff
